@import url(https://fonts.googleapis.com/css?family=Open+Sans);



body {
  margin:0%;
 /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);*/
  font-family: Verdana ;
  font-size: large;
  line-height: 30px;
  overflow-x: hidden;
  width: 100vw;
  background-color: #F5F5DC;

}



.intro{
  padding-left: 100px;
  padding-right: 100px;
}

body p{
  width: 900px;
  color: rgba(0, 0, 0, 0.755);
}

.hero-banner {
  position: relative;
  width: 100vw;
  height: 70vh;
  margin: 0;
  padding: 0;
  
}

.hero-banner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
  
 
}
.slideshow-container {
  width: 100%;
  position: relative;
  
}

.fade {
position: absolute;
width: 100%;
height: auto;
opacity: 0;
transition: opacity 1.5s ease-in-out;
}

.fade.active {
opacity: 1;
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  border: #333;
}
.hero-text h1 {
  font-size: 3em;
  margin: 0;
  opacity: 0;
  
  
}
.hero-text p {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-text-stroke:  black;
  opacity: 0; /* Initially set opacity to 0 for the fade-in effect */
}



nav { 
  width:100vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 60px 0;
}
nav ul {
  width: 100vw;
  height: 200px;
  display: flex;
  background-color:  #000080;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
  width: 100%;
  display: inline-block;
}
nav ul li a {
  font-weight:bold;
  font-family: "Open Sans";
  text-transform:uppercase;
  color:#978314;
  text-decoration: none;
  display: flex;
  transition: color 1s ease-in-out; 
  height: 100%;
  width: 100%;

}
nav ul li a h2{
  display: block;
  width: 100%;
  padding-top: 50px;
 font-size: 20px;
}

nav ul li button{
  
  
  height: 100%;
  width: 100%;
  border: 0px;
  background: transparent; 
}
nav ul li.album1 :hover{
  background-image: url(/imgs/theTrilogy.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
nav ul li.album2 :hover{
  background-image: url(../../imgs/kissland.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
nav ul li.album3 :hover{
  background-image: url(../../imgs/BBTM.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 
nav ul li.album4 :hover{
  background-image: url(../../imgs/starboy2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}  
nav ul li.album5 :hover{
  background-image: url(../../imgs/MDM.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}    
nav ul li.album6 :hover{
  background-image: url(../../imgs/afterHours.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}   
nav ul li.album7 :hover{
  background-image: url(../../imgs/dawnFm.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 
nav ul li.album1 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album2 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album3 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album4 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album5 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album6 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}
nav ul li.album7 button :hover{
  background-image: none;
  color: transparent;
  background-color: transparent;
}

.container-1{

  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  
}

.container-1  img{
height: 300px;
width: 300px;
border: 5px solid black;
box-sizing: border-box;
}

.container-1 .leftimgs{
  margin-right: 50px;
}

